<div>
  <table>
    <tr>
      <td>Data</td>
      <td><span>14/03/1888</span></td>
    </tr>
    <tr>
      <td>Local</td>
      <td><span>Carrefour Bairro</span></td>
    </tr>
    <tr>
      <td>Valor</td>
      <td><span>RS199,99</span></td>
    </tr>
    <tr>
      <td></td>
      <td>Ver mais</td>
    </tr>
  </table>
</div>
