<p style="color: green"><%= notice %></p>

<h1>Orcamentos</h1>

<div id="orcamentos">
  <% @orcamentos.each do |orcamento| %>
    <%= render orcamento %>
    <p>
      <%= link_to "Show this orcamento", orcamento %>
    </p>
  <% end %>
</div>

<%= link_to "New orcamento", new_orcamento_path %>
