<%= form_with(model: historico) do |form| %>
  <% if historico.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(historico.errors.count, "error") %> prohibited this historico from being saved:</h2>

      <ul>
        <% historico.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
