<h1>Editing historico</h1>

<%= render "form", historico: @historico %>

<br>

<div>
  <%= link_to "Show this historico", @historico %> |
  <%= link_to "Back to historicos", historicos_path %>
</div>
